body {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-button {
  font-size: x-large;
}

.movies {
  padding-top: 2%;
}

.search-input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}

