.details {
  padding-top: 2%;
}

.movie-card {
  color: white;
  border-style: solid;
  border-width: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  text-align: center;
  height: 90.5%;
  width: 88%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.movies {
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.search-input {
  height: 1.5rem;
  width: 20%;
  border-width: 0.1rem;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.search-form {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-submit {
  width: 5%;
  min-width: 5rem;
}
