.details {
  padding-top: 2%;
}

.movie-card {
  color: white;
  border-style: solid;
  border-width: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  text-align: center;
  height: 90.5%;
  width: 88%;
  &:hover {
    border-color: #f14e4c;
    background-color: rgba(241, 78, 76, 0.5);
  }
}


