@import "@/styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  margin-bottom: 1rem;
  min-height: 8rem;
  background-color: $red;
  padding-right: 2%;

  .header-greeting {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  @media (max-width: 768px) {
    .header-greeting {
      display: none;
    }
  }
}

.home-buttons {
  font-size: large;
  color: white;
}

.header-button {
  padding: 5%;
}

.logo-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 2%;
}
