@import "@/styles/variables.scss";

$min-width: 5rem;

.search-input {
  height: 1.5rem;
  width: 20%;
  min-width: $min-width;
  border-width: 0.1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.search-form {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-submit {
  color: $red;
  width: 5%;
  min-width: $min-width;
  background-color: $tan;
  border: none;
  margin-top: 0.2rem;
  min-height: 1.5rem;
  font-weight: bolder;

  &:disabled {
    color: grey;
  }
}
